/*     created by: Evans Pigon
       date: 6/26/2023
       MCC
       class: CIS133DA
       title: Building a Tribute Page
*/

*
  {   
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
  }
/* these are for the upper toolbar (home / projects )*/
.topnav 
  {
    background-color: #050505;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
  }

.topnav li 
    {
      background-color: rgba(0, 161, 156, 0.637);
      font-size: 1.5rem;
      float:left;
      display: inline;
      border-right: 3px solid #050505;
    }

.topnav li:last-child 
    {
      border-right: none;
      
    }

.topnav li a
    {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    } 

.topnav li a:hover
    {
      background-color: #fffefe;
      color: black;
    }

/*making the colors be at a ratio of 10:1 from https://webaim.org/resources/contrastchecker/ */
#main 
  {
    display: block;
    margin: 30px 5px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px ;
    background: #403F3F;
    min-width: 1158px;
    border:3px solid black;
  }

#title 
  {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 0;
    text-shadow: 4px 4px 4px rgba(0, 161, 156, 0.637);
  }

.header 
  {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

p
  {
    font-weight: bold;
  }
/* #image and #image setup was helped/inspired by https://forum.freecodecamp.org/t/tribute-page-img-element-should-be-centered-within-its-parent-element/395787  */

#image
  {
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px  rgb(0, 161, 156);
  }
  
#img-div #image 
  {
    display: block;
		max-width: 100%;
 		margin: 0 auto;
		min-width: 800px;
    width: 1000px;
  }

#img-div 
  {
    display: block;
    background: black;
    padding: 10px;
    margin: auto;
  }

#img-div #img-caption 
  {
    display: block;
    font-size: 17px;
    letter-spacing: 1.1px;
    font-weight: bold;
    margin: 45px 0 5px 0;
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline;
    text-underline-offset:3px;
    text-decoration-color:rgb(0, 161, 156);
    text-decoration-style: solid;
  }
  
#tribute-info
  {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

#tribute-info div ul li
  {
    width: 40%;
    margin: 20px auto;
    line-height: 30px ;
    text-align: left;
  }

strong 
  {
    font-weight: bold;
    color: rgb(255,255,555);
    text-shadow: 1px 1px 1px rgb(70, 70, 70);
    text-shadow: 1px 1px 1px rgb(0, 161, 155);
  }
  
.quote
  {
    text-decoration: underline dotted;
    text-decoration-color:rgb(0, 161, 155);
  }

  .footer
  {
    margin: 30px 0;
    font-size: 15px;
  }

a 
  {
    cursor: pointer;
    
  }
 

  nav {
    display: block;
  }